
			<section class="main-content">
				
				<div class="row">						
					<div class="span12">
							<h4 class="title">
									<span class="pull-left"><span class="text"><span class="line"><strong>Bedroom</strong></span></span></span>
								</h4>
						<ul class="thumbnails listing-products">
							<li class="span3">
								<div class="product-box">
									<span class="sale_tag"></span>												
									<a href="#productdetail" ng-click="detail('Lamp','Lane Furniture','$14.20')"><img alt="" src="img/bedroom/1.jpg"></a><br/>
									<a href="#productdetail" ng-click="detail('Lamp','Lane Furniture','$14.20')" class="title">Lamp</a><br/>
									<a href="#productdetail" ng-click="detail('Lamp','Lane Furniture','$14.20')" class="category">Lane Furniture</a>
									<p class="price">$14.20</p>
								</div>
							</li>       
							<li class="span3">
								<div class="product-box">												
									<a href="#productdetail" ng-click="detail('King Size Bed','Flexsteel','$200')"><img alt="" src="img/bedroom/10.jpg"></a><br/>
									<a href="#productdetail" ng-click="detail('King Size Bed','Flexsteel','$200')" class="title">King Size Bed</a><br/>
									<a href="#productdetail" ng-click="detail('King Size Bed','Flexsteel','$200')" class="category">Flexsteel</a>
									<p class="price">$200</p>
								</div>
							</li>
							<li class="span3">
								<div class="product-box">
									<span class="sale_tag"></span>												
									<a href="#productdetail" ng-click="detail('Black Frame King Size Bed with Matress','Houzz','$141')"><img alt="" src="img/bedroom/11.jpg"></a><br/>
									<a href="#productdetail" ng-click="detail('Black Frame King Size Bed with Matress','Houzz','$141')" class="title">Black Frame King Size Bed with Matress</a><br/>
									<a href="#productdetail" ng-click="detail('Black Frame King Size Bed with Matress','Houzz','$141')" class="category">Houzz</a>
									<p class="price">$141</p>
								</div>
							</li>
							<li class="span3">
								<div class="product-box">												
									<span class="sale_tag"></span>
									<a href="#productdetail" ng-click="detail('Flower Style Lamp','Lane Furniture','$49')"><img alt="" src="img/bedroom/4.jpg"></a><br/>
									<a href="#productdetail" ng-click="detail('Flower Style Lamp','Lane Furniture','$49')" class="title">Flower Style Lamp</a><br/>
									<a href="#productdetail" ng-click="detail('Flower Style Lamp','Lane Furniture','$49')" class="category">Lane Furniture</a>
									<p class="price">$49</p>
								</div>
							</li>
							<li class="span3">
								<div class="product-box">                                        												
									<a href="#productdetail" ng-click="detail('Dresser','Indiana Furniture','$35')"><img alt="" src="img/bedroom/5.jpg"></a><br/>
									<a href="#productdetail" ng-click="detail('Dresser','Indiana Furniture','$35')" class="title">Dresser</a><br/>
									<a href="#productdetail" ng-click="detail('Dresser','Indiana Furniture','$35')" class="category">Indiana Furniture</a>
									<p class="price">$35</p>
								</div>
							</li>       
							<li class="span3">
								<div class="product-box">												
									<a href="#productdetail" ng-click="detail('Wodden Dresser','American Furniture','$22.30')"><img alt="" src="img/bedroom/6.jpg"></a><br/>
									<a href="#productdetail" ng-click="detail('Wodden Dresser','American Furniture','$22.30')" class="title">Wodden Dresser</a><br/>
									<a href="#productdetail" ng-click="detail('Wodden Dresser','American Furniture','$22.30')" class="category">American Furniture</a>
									<p class="price">$22.30</p>
								</div>
							</li>
							<li class="span3">
								<div class="product-box">												
									<a href="#productdetail" ng-click="detail('Large Dresser','Houzz','$23')"><img alt="" src="img/bedroom/7.jpg"></a><br/>
									<a href="#productdetail" ng-click="detail('Large Dresser','Houzz','$23')" class="title">Large Dresser</a><br/>
									<a href="#productdetail" ng-click="detail('Large Dresser','Houzz','$23')" class="category">Houzz</a>
									<p class="price">$23</p>
								</div>
							</li>
							<li class="span3">
								<div class="product-box">												
									<a href="#productdetail" ng-click="detail('Queen Size Bed','Flexsteel','$104')"><img alt="" src="img/bedroom/8.jpg"></a><br/>
									<a href="#productdetail" ng-click="detail('Queen Size Bed','Flexsteel','$104')" class="title">Queen Size Bed</a><br/>
									<a href="#productdetail" ng-click="detail('Queen Size Bed','Flexsteel','$104')" class="category">Flexsteel</a>
									<p class="price">$104</p>
								</div>
							</li>
							<li class="span3">
								<div class="product-box">												
									<a href="#productdetail" ng-click="detail('Twin Size Bed','American Furniture','$161')"><img alt="" src="img/bedroom/9.jpg"></a><br/>
									<a href="#productdetail" ng-click="detail('Twin Size Bed','American Furniture','$161')" class="title">Twin Size Bed</a><br/>
									<a href="#productdetail" ng-click="detail('Twin Size Bed','American Furniture','$161')" class="category">American Furniture</a>
									<p class="price">$161</p>
								</div>
							</li>
							<li class="span3">
								<div class="product-box">												
									<a href="#productdetail" ng-click="detail('Small Dresser','Lane Furniture','$21')"><img alt="" src="img/bedroom/12.jpg"></a><br/>
									<a href="#productdetail" ng-click="detail('Small Dresser','Lane Furniture','$21')" class="title">Small Dresser</a><br/>
									<a href="#productdetail" ng-click="detail('Small Dresser','Lane Furniture','$21')" class="category">Lane Furniture</a>
									<p class="price">$21</p>
								</div>
							</li>
							<li class="span3">
								<div class="product-box">												
									<a href="#productdetail" ng-click="detail('Night Lamp','Indiana Furniture','$31.45')"><img alt="" src="img/bedroom/2.jpg"></a><br/>
									<a href="#productdetail" ng-click="detail('Night Lamp','Indiana Furniture','$31.45')" class="title">Night Lamp</a><br/>
									<a href="#productdetail" ng-click="detail('Night Lamp','Indiana Furniture','$31.45')" class="category">Indiana Furniture</a>
									<p class="price">$31.45</p>
								</div>
							</li>
							<li class="span3">
								<div class="product-box">												
									<a href="#productdetail" ng-click="detail('Study Lamp','Flexsteel','$21')"><img alt="" src="img/bedroom/3.jpg"></a><br/>
									<a href="#productdetail" ng-click="detail('Study Lamp','Flexsteel','$21')" class="title">Study Lamp</a><br/>
									<a href="#productdetail" ng-click="detail('Study Lamp','Flexsteel','$21')" class="category">Flexsteel</a>
									<p class="price">$21</p>
								</div>
							</li>
						</ul>								
						<hr>
						<div class="pagination pagination-small pagination-centered">
							<ul>
								<li><a href="#">Prev</a></li>
								<li class="active"><a href="#">1</a></li>
								<li><a href="#">2</a></li>
								<li><a href="#">3</a></li>
								<li><a href="#">4</a></li>
								<li><a href="#">Next</a></li>
							</ul>
						</div>
					</div>
				</div>
			</section>
		