
			<section class="main-content">
				
				<div class="row">						
					<div class="span12">	
							<h4 class="title">
									<span class="pull-left"><span class="text"><span class="line"><strong>Dining Room</strong></span></span></span>
								</h4>
						<ul class="thumbnails listing-products">
							<li class="span3">
								<div class="product-box">
									<span class="sale_tag"></span>												
									<a href="#productdetail" ng-click="detail('Wodden Dining Room Set','Hooker Furniture','$47.25')"><img alt="" src="img/dining room/1.jpg"></a><br/>
									<a href="#productdetail" ng-click="detail('Wodden Dining Room Set','Hooker Furniture','$47.25')" class="title">Wodden Dining Room Set</a><br/>
									<a href="#productdetail" ng-click="detail('Wodden Dining Room Set','Hooker Furniture','$47.25')" class="category">Hooker Furniture</a>
									<p class="price">$47.25</p>
								</div>
							</li>       
							<li class="span3">
								<div class="product-box">												
									<a href="#productdetail" ng-click="detail('Dining Room Set','Flexsteel','$32.50')"><img alt="" src="img/dining room/2.jpg"></a><br/>
									<a href="#productdetail" ng-click="detail('Dining Room Set','Flexsteel','$32.50')" class="title">Dining Room Set</a><br/>
									<a href="#productdetail" ng-click="detail('Dining Room Set','Flexsteel','$32.50')" class="category">Flexsteel</a>
									<p class="price">$32.50</p>
								</div>
							</li>
							<li class="span3">
								<div class="product-box">												
									<span class="sale_tag"></span>
									<a href="#productdetail" ng-click="detail('Wodden Chair','Indiana Furniture','$15.45')"><img alt="" src="img/dining room/4.jpg"></a><br/>
									<a href="#productdetail" ng-click="detail('Wodden Chair','Indiana Furniture','$15.45')" class="title">Wodden Chair</a><br/>
									<a href="#productdetail" ng-click="detail('Wodden Chair','Indiana Furniture','$15.45')" class="category">Indiana Furniture</a>
									<p class="price">$15.45</p>
								</div>
							</li>
							<li class="span3">
								<div class="product-box">                                        												
									<a href="#productdetail" ng-click="detail('12 Sitter Dinning Set','American Furniture','$55')"><img alt="" src="img/dining room/5.jpg"></a><br/>
									<a href="#productdetail" ng-click="detail('12 Sitter Dinning Set','American Furniture','$55')" class="title">12 Sitter Dinning Set</a><br/>
									<a href="#productdetail" ng-click="detail('12 Sitter Dinning Set','American Furniture','$55')" class="category">American Furniture</a>
									<p class="price">$55</p>
								</div>
							</li>       
							<li class="span3">
								<div class="product-box">												
									<a href="#productdetail" ng-click="detail('Dining Chair','American Furniture','$25.50')"><img alt="" src="img/dining room/6.jpg"></a><br/>
									<a href="#productdetail" ng-click="detail('Dining Chair','American Furniture','$25.50')" class="title">Dining Chair</a><br/>
									<a href="#productdetail" ng-click="detail('Dining Chair','American Furniture','$25.50')" class="category">American Furniture</a>
									<p class="price">$25.50</p>
								</div>
							</li>
							<li class="span3">
								<div class="product-box">												
									<a href="#productdetail" ng-click="detail('Chair','Hooker Furniture','$17.55')"><img alt="" src="img/dining room/7.jpg"></a><br/>
									<a href="#productdetail" ng-click="detail('Chair','Hooker Furniture','$17.55')" class="title">Chair</a><br/>
									<a href="#productdetail" ng-click="detail('Chair','Hooker Furniture','$17.55')" class="category">Hooker Furniture</a>
									<p class="price">$17.55</p>
								</div>
							</li>
							<li class="span3">
								<div class="product-box">												
									<a href="#productdetail" ng-click="detail('Dining Table','Indiana Furniture','$24')"><img alt="" src="img/dining room/8.jpg"></a><br/>
									<a href="#productdetail" ng-click="detail('Dining Table','Indiana Furniture','$24')" class="title">Dining Table</a><br/>
									<a href="#productdetail" ng-click="detail('Dining Table','Indiana Furniture','$24')" class="category">Indiana Furniture</a>
									<p class="price">$24</p>
								</div>
							</li>
							<li class="span3">
								<div class="product-box">												
									<a href="#productdetail" ng-click="detail('White Serving Cart','Flexsteel','$16')"><img alt="" src="img/dining room/9.jpg"></a><br/>
									<a href="#productdetail" ng-click="detail('White Serving Cart','Flexsteel','$16')" class="title">White Serving Cart</a><br/>
									<a href="#productdetail" ng-click="detail('White Serving Cart','Flexsteel','$16'))" class="category">Flexsteel</a>
									<p class="price">$16</p>
								</div>
							</li>
							<li class="span3">
								<div class="product-box">												
									<a href="#productdetail"ng-click="detail('Serving Cart','Hooker Furniture','$21')"><img alt="" src="img/dining room/10.jpg"></a><br/>
									<a href="#productdetail" ng-click="detail('Serving Cart','Hooker Furniture','$21')" class="title">Serving Cart</a><br/>
									<a href="#productdetail" ng-click="detail('Serving Cart','Hooker Furniture','$21')" class="category">Hooker Furniture</a>
									<p class="price">$21</p>
								</div>
							</li>
							<li class="span3">
								<div class="product-box">												
									<a href="#productdetail" ng-click="detail('Red Chair','Lane Furniture','$3.25')"><img alt="" src="img/dining room/3.jpg"></a><br/>
									<a href="#productdetail" ng-click="detail('Red Chair','Lane Furniture','$3.25')" class="title">Red Chair</a><br/>
									<a href="#productdetail" ng-click="detail('Red Chair','Lane Furniture','$3.25')" class="category">Lane Furniture</a>
									<p class="price">$3.25</p>
								</div>
							</li>
						</ul>								
						<hr>
						<div class="pagination pagination-small pagination-centered">
							<ul>
								<li><a href="#">Prev</a></li>
								<li class="active"><a href="#">1</a></li>
								<li><a href="#">2</a></li>
								<li><a href="#">3</a></li>
								<li><a href="#">4</a></li>
								<li><a href="#">Next</a></li>
							</ul>
						</div>
					</div>
				</div>
			</section>
		