
			
			<section  class="homepage-slider" id="home-slider">
				<div class="flexslider">
					<ul class="slides">
						<li>
							<img src="img/banner-1.jpg" alt="" />
						</li>
						<li>
							<img src="img/banner-4.jpg" alt="" />
							<div class="intro">
								<h1>Mid season sale</h1>
								<p><span>Up to 50% Off</span></p>
								<p><span>On selected items online and in stores</span></p>
							</div>
						</li>
						<li>
							<img src="img/banner-2.jpg" alt="" />
							<div class="intro">
							</div>
						</li>
					</ul>
				</div>			
			</section>
			<section class="main-content">
				<div class="row">
					<div class="span12">													
						<div class="row">
							<div class="span12">
								<h4 class="title">
									<span class="pull-left"><span class="text"><span class="line">Feature <strong>Products</strong></span></span></span>
									<span class="pull-right">
										<a class="left button" href="#myCarousel" data-slide="prev"></a><a class="right button" href="#myCarousel" data-slide="next"></a>
									</span>
								</h4>
								<div id="myCarousel" class="myCarousel carousel slide">
									<div class="carousel-inner">
										<div class="active item">
											<ul class="thumbnails">												
												<li class="span3">
													<div class="product-box">
														<span class="sale_tag"></span>
														<p><a href="#productdetail" ng-click="detail('Wodden Dining Room Set','Hooker Furniture','$47.25')"><img src="img/dining room/1.jpg" alt="" /></a></p>
														<a href="#productdetail" ng-click="detail('Wodden Dining Room Set','Hooker Furniture','$47.25')" class="title">Wodden Dining Room Set</a><br/>
														<a href="#products.html" ng-click="detail('Wodden Dining Room Set','Hooker Furniture','$47.25')" class="category">Hooker Furniture</a>
														<p class="price">$47.25</p>
													</div>
												</li>
												<li class="span3">
													<div class="product-box">
														<span class="sale_tag"></span>
														<p><a href="#productdetail" ng-click="detail('Dining Room Set','Flexsteel','$32.50')"><img src="img/dining room/2.jpg" alt="" /></a></p>
														<a href="#productdetail" ng-click="detail('Dining Room Set','Flexsteel','$32.50')" class="title">Dining Room Set</a><br/>
														<a href="#products.html" ng-click="detail('Dining Room Set','Flexsteel','$32.50')" class="category">Flexsteel</a>
														<p class="price">$32.50</p>
													</div>
												</li>
												<li class="span3">
													<div class="product-box">
														<p><a href="#productdetail" ng-click="detail('Lamp','Lane Furniture','$14.20')"><img src="img/bedroom/1.jpg" alt="" /></a></p>
														<a href="#productdetail" ng-click="detail('Lamp','Lane Furniture','$14.20')" class="title">Lamp</a><br/>
														<a href="#productdetail" ng-click="detail('Lamp','Lane Furniture','$14.20')" class="category">Lane Furniture</a>
														<p class="price">$14.20</p>
													</div>
												</li>
												<li class="span3">
													<div class="product-box">
														<p><a href="#productdetail" ng-click="detail('Night Lamp','Indiana Furniture','$31.45')"><img src="img/bedroom/2.jpg" alt="" /></a></p>
														<a href="#productdetail" ng-click="detail('Night Lamp','Indiana Furniture','$31.45')" class="title">Night Lamp</a><br/>
														<a href="#productdetail" ng-click="detail('Night Lamp','Indiana Furniture','$31.45')" class="category">Indiana Furniture</a>
														<p class="price">$31.45</p>
													</div>
												</li>
											</ul>
										</div>
										<div class="item">
											<ul class="thumbnails">
												<li class="span3">
													<div class="product-box">
														<p><a href="#productdetail" ng-click="detail('Wodden Dresser','American Furniture','$22.30')"><img src="img/bedroom/6.jpg" alt="" /></a></p>
														<a href="#productdetail" ng-click="detail('Wodden Dresser','American Furniture','$22.30')" class="title">Wodden Dresser</a><br/>
														<a href="#productdetail" ng-click="detail('Wodden Dresser','American Furniture','$22.30')" class="category">American Furniture </a>
														<p class="price">$22.30</p>
													</div>
												</li>
												<li class="span3">
													<div class="product-box">
														<p><a href="#productdetail" ng-click="detail('Red Chair','Lane Furniture','$3.25')"><img src="img/dining room/3.jpg" alt="" /></a></p>
														<a href="#productdetail" ng-click="detail('Red Chair','Lane Furniture','$3.25')" class="title">Red Chair</a><br/>
														<a href="#productdetail" ng-click="detail('Red Chair','Lane Furniture','$3.25')" class="category">Lane Furniture</a>
														<p class="price">$3.25</p>
													</div>
												</li>
												<li class="span3">
													<div class="product-box">
														<p><a href="#productdetail" ng-click="detail('Wodden Chair','Indiana Furniture','$15.45')"><img src="img/dining room/4.jpg" alt="" /></a></p>
														<a href="#productdetail" ng-click="detail('Wodden Chair','Indiana Furniture','$15.45')" class="title">Wodden Chair</a><br/>
														<a href="#productdetail" ng-click="detail('Wodden Chair','Indiana Furniture','$15.45')" class="category">Indiana Furniture</a>
														<p class="price">$15.45</p>
													</div>
												</li>
												<li class="span3">
													<div class="product-box">
														<p><a href="#productdetail" ng-click="detail('Study table set','Flexsteel','$35.50')"><img src="img/study room/1.jpg" alt="" /></a></p>
														<a href="#productdetail" ng-click="detail('Study table set','Flexsteel','$35.50')" class="title">Study table set</a><br/>
														<a href="#productdetail" ng-click="detail('Study table set','Flexsteel','$35.50')" class="category">Flexsteel</a>
														<p class="price">$35.50</p>
													</div>
												</li>																																	
											</ul>
										</div>
									</div>							
								</div>
							</div>						
						</div>
						<br/>
						<div class="row">
							<div class="span12">
								<h4 class="title">
									<span class="pull-left"><span class="text"><span class="line">Latest <strong>Products</strong></span></span></span>
									<span class="pull-right">
										<a class="left button" href="#myCarousel-2" data-slide="prev"></a><a class="right button" href="#myCarousel-2" data-slide="next"></a>
									</span>
								</h4>
								<div id="myCarousel-2" class="myCarousel carousel slide">
									<div class="carousel-inner">
										<div class="active item">
											<ul class="thumbnails">												
												<li class="span3">
													<div class="product-box">
														<span class="sale_tag"></span>
														<p><a href="#productdetail" ng-click="detail('Dining Chair','American Furniture','$25.50')"><img src="img/dining room/6.jpg" alt="" /></a></p>
														<a href="#productdetail" ng-click="detail('Dining Chair','American Furniture','$25.50')" class="title">Dining Chair</a><br/>
														<a href="#productdetail" ng-click="detail('Dining Chair','American Furniture','$25.50')" class="category">American Furniture</a>
														<p class="price">$25.50</p>
													</div>
												</li>
												<li class="span3">
													<div class="product-box">
														<p><a href="#productdetail" ng-click="detail('Chair','Hooker Furniture','$17.55')"><img src="img/dining room/7.jpg" alt="" /></a></p>
														<a href="#productdetail" ng-click="detail('Chair','Hooker Furniture','$17.55')" class="title">Chair</a><br/>
														<a href="#productdetail" ng-click="detail('Chair','Hooker Furniture','$17.55')" class="category">Hooker Furniture</a>
														<p class="price">$17.55</p>
													</div>
												</li>
												<li class="span3">
													<div class="product-box">
														<p><a href="#productdetail" ng-click="detail('Computer Table','Lane Furniture','$25.30')"><img src="img/study room/3.jpg" alt="" /></a></p>
														<a href="#productdetail" ng-click="detail('Computer Table','Lane Furniture','$25.30')" class="title">Computer Table</a><br/>
														<a href="#productdetail" ng-click="detail('Computer Table','Lane Furniture','$25.30')" class="category">Lane Furniture</a>
														<p class="price">$25.30</p>
													</div>
												</li>
												<li class="span3">
													<div class="product-box">
														<p><a href="#productdetail" ng-click="detail('Computer Stand and Study Table','Houzz','$25.60')"><img src="img/study room/5.jpg" alt="" /></a></p>
														<a href="#productdetail" ng-click="detail('Computer Stand and Study Table','Houzz','$25.60')" class="title">Computer Stand and Study Table</a><br/>
														<a href="#productdetail" ng-click="detail('Computer Stand and Study Table','Houzz','$25.60')" class="category">Houzz</a>
														<p class="price">$25.60</p>
													</div>
												</li>
											</ul>
										</div>
										<div class="item">
											<ul class="thumbnails">
												<li class="span3">
													<div class="product-box">
														<p><a href="#productdetail" ng-click="detail('Small Book Closet','American Furniture','$23.30')"><img src="img/study room/7.jpg" alt="" /></a></p>
														<a href="#productdetail" ng-click="detail('Small Book Closet','American Furniture','$23.30')" class="title">Small Book Closet</a><br/>
														<a href="#productdetail" ng-click="detail('Small Book Closet','American Furniture','$23.30')" class="category">American Furniture</a>
														<p class="price">$23.30</p>
													</div>
												</li>
												<li class="span3">
													<div class="product-box">
														<p><a href="#productdetail" ng-click="detail('Foldable Chair','Flexsteel','$33.50')"><img src="img/study room/9.jpg" alt="" /></a></p>
														<a href="#productdetail" ng-click="detail('Foldable Chair','Flexsteel','$33.50')" class="title">Foldable Chair</a><br/>
														<a href="#productdetail" ng-click="detail('Foldable Chair','Flexsteel','$33.50')" class="category">Flexsteel</a>
														<p class="price">$33.50</p>
													</div>
												</li>
												<li class="span3">
													<div class="product-box">
														<p><a href="#productdetail" ng-click="detail('Sofa Set','Indiana Furniture','$505.30')"><img src="img/living room/7.jpg" alt="" /></a></p>
														<a href="#productdetail" ng-click="detail('Sofa Set','Indiana Furniture','$505.30')" class="title">Sofa Set</a><br/>
														<a href="#productdetail" ng-click="detail('Sofa Set','Indiana Furniture','$505.30')" class="category">Indiana Furniture</a>
														<p class="price">$505.30</p>
													</div>
												</li>
												<li class="span3">
													<div class="product-box">
														<p><a href="#productdetail" ng-click="detail('Coffee Stand','Houzz','$25.20')"><img src="img/living room/5.jpg" alt="" /></a></p>
														<a href="#productdetail" ng-click="detail('Coffee Stand','Houzz','$25.20')" class="title">Coffee Stand</a><br/>
														<a href="#productdetail" ng-click="detail('Coffee Stand','Houzz','$25.20')" class="category">Houzz</a>
														<p class="price">$25.20</p>
													</div>
												</li>																																	
											</ul>
										</div>
									</div>							
								</div>
							</div>						
						</div>
						<div class="row feature_box">						
							<div class="span4">
								<div class="service">
									<div class="responsive">	
										<img src="img/feature_img_2.png" alt="" />
										<h4>MODERN <strong>DESIGN</strong></h4>							
									</div>
								</div>
							</div>
							<div class="span4">	
								<div class="service">
									<div class="customize">			
										<img src="img/feature_img_1.png" alt="" />
										<h4>FREE <strong>SHIPPING</strong></h4>
									</div>
								</div>
							</div>
							<div class="span4">
								<div class="service">
									<div class="support">	
										<img src="img/feature_img_3.png" alt="" />
										<h4>24/7 LIVE <strong>SUPPORT</strong></h4>
									</div>
								</div>
							</div>	
						</div>		
					</div>				
				</div>
			</section>
			<section class="our_client">
				<h4 class="title"><span class="text">Manufactures</span></h4>
				<div class="row">					
					<div class="span2">
						<a><img alt="" src="img/1.png"></a>
					</div>
					<div class="span2">
						<a><img alt="" src="img/2.png"></a>
					</div>
					<div class="span2">
						<a><img alt="" src="img/3.png"></a>
					</div>
					<div class="span2">
						<a><img alt="" src="img/4.png"></a>
					</div>
					<div class="span2">
						<a><img alt="" src="img/5.png"></a>
					</div>
					<div class="span2">
						<a><img alt="" src="img/6.png"></a>
					</div>
				</div>
			</section>
		
		<script src="js/jquery.flexslider-min.js"></script>
		<script type="text/javascript">
			$(function() {
				$(document).ready(function() {
					$('.flexslider').flexslider({
						animation: "fade",
						slideshowSpeed: 4000,
						animationSpeed: 600,
						controlNav: false,
						directionNav: true,
						controlsContainer: ".flex-container" // the container that holds the flexslider
					});
				});
			});
		</script>