
			<section class="main-content">
				
				<div class="row">						
					<div class="span12">
							<h4 class="title">
									<span class="pull-left"><span class="text"><span class="line"><strong>Living Room</strong></span></span></span>
								</h4>
						<ul class="thumbnails listing-products">
							<li class="span3">
								<div class="product-box">											
									<a href="#productdetail" ng-click="detail('Wooden Rectangular End Table','Hooker Furniture','$41')"><img alt="" src="img/living room/1.jpg"></a><br/>
									<a href="#productdetail" ng-click="detail('Wooden Rectangular End Table','Hooker Furniture','$41')" class="title">Wooden Rectangular End Table </a><br/>
									<a href="#productdetail" ng-click="detail('Wooden Rectangular End Table','Hooker Furniture','$41')" class="category">Hooker Furniture</a>
									<p class="price">$41</p>
								</div>
							</li>       
							<li class="span3">
								<div class="product-box">												
									<a href="#productdetail" ng-click="detail('TV Satnd','American Furniture','$28')"><img alt="" src="img/living room/10.jpg"></a><br/>
									<a href="#productdetail" ng-click="detail('TV Satnd','American Furniture','$28')" class="title">TV Satnd</a><br/>
									<a href="#productdetail" ng-click="detail('TV Satnd','American Furniture','$28')" class="category">American Furniture</a>
									<p class="price">$28</p>
								</div>
							</li>
							<li class="span3">
								<div class="product-box">
									<span class="sale_tag"></span>												
									<a href="#productdetail" ng-click="detail('Large Wooden Brown TV Stand','Flexsteel','$61')"><img alt="" src="img/living room/11.jpg"></a><br/>
									<a href="#productdetail" ng-click="detail('Large Wooden Brown TV Stand','Flexsteel','$61')" class="title">Large Wooden Brown TV Stand</a><br/>
									<a href="#productdetail" ng-click="detail('Large Wooden Brown TV Stand','Flexsteel','$61')" class="category">Flexsteel</a>
									<p class="price">$61</p>
								</div>
							</li>
							<li class="span3">
								<div class="product-box">												
									<span class="sale_tag"></span>
									<a href="#productdetail" ng-click="detail('Circulat Coffee Table','Lane Furniture','$49')"><img alt="" src="img/living room/4.jpg"></a><br/>
									<a href="#productdetail" ng-click="detail('Circulat Coffee Table','Lane Furniture','$49')" class="title">Circulat Coffee Table</a><br/>
									<a href="#productdetail" ng-click="detail('Circulat Coffee Table','Lane Furniture','$49')" class="category">Lane Furniture</a>
									<p class="price">$49</p>
								</div>
							</li>
							<li class="span3">
								<div class="product-box">                                        												
									<a href="#productdetail" ng-click="detail('Coffee Stand','Houzz','$25.20')"><img alt="" src="img/living room/5.jpg"></a><br/>
									<a href="#productdetail" ng-click="detail('Coffee Stand','Houzz','$25.20')" class="title">Coffee Stand</a><br/>
									<a href="#productdetail" ng-click="detail('Coffee Stand','Houzz','$25.20')" class="category">Houzz</a>
									<p class="price">$25.20</p>
								</div>
							</li>       
							<li class="span3">
								<div class="product-box">												
									<a href="#productdetail" ng-click="detail('Circular Table','Indiana Furniture','$66')"><img alt="" src="img/living room/6.jpg"></a><br/>
									<a href="#productdetail" ng-click="detail('Circular Table','Indiana Furniture','$66')" class="title">Circular Table</a><br/>
									<a href="#productdetail" ng-click="detail('Circular Table','Indiana Furniture','$66')"class="category">Indiana Furniture</a>
									<p class="price">$66</p>
								</div>
							</li>
							<li class="span3">
								<div class="product-box">												
									<a href="#productdetail" ng-click="detail('Sofa Set','Indiana Furniture','$505.30')"><img alt="" src="img/living room/7.jpg"></a><br/>
									<a href="#productdetail" ng-click="detail('Sofa Set','Indiana Furniture','$505.30')" class="title">Sofa Set</a><br/>
									<a href="#productdetail" ng-click="detail('Sofa Set','Indiana Furniture','$505.30')" class="category">Indiana Furniture</a>
									<p class="price">$505.30</p>
								</div>
							</li>
							<li class="span3">
								<div class="product-box">												
									<a href="#productdetail" ng-click="detail('Black Sofa Set','Lane Furniture','$634')"><img alt="" src="img/living room/8.jpg"></a><br/>
									<a href="#productdetail" ng-click="detail('Black Sofa Set','Lane Furniture','$634')" class="title">Black Sofa Set</a><br/>
									<a href="#productdetail" ng-click="detail('Black Sofa Set','Lane Furniture','$634')" class="category">Lane Furniture</a>
									<p class="price">$634</p>
								</div>
							</li>
							<li class="span3">
								<div class="product-box">												
									<a href="#productdetail" ng-click="detail('Blue Sofa','Hooker Furniture','$261')"><img alt="" src="img/living room/9.jpg"></a><br/>
									<a href="#productdetail" ng-click="detail('Blue Sofa','Hooker Furniture','$261')" class="title">Blue Sofa</a><br/>
									<a href="#productdetail" ng-click="detail('Blue Sofa','Hooker Furniture','$261')" class="category">Hooker Furniture</a>
									<p class="price">$261</p>
								</div>
							</li>
						</ul>								
						<hr>
						<div class="pagination pagination-small pagination-centered">
							<ul>
								<li><a href="#">Prev</a></li>
								<li class="active"><a href="#">1</a></li>
								<li><a href="#">2</a></li>
								<li><a href="#">3</a></li>
								<li><a href="#">4</a></li>
								<li><a href="#">Next</a></li>
							</ul>
						</div>
					</div>
				</div>
			</section>
		