
			<section class="header_text sub">
				<h4><span>Recover Password</span></h4>
			</section>
			<section class="header_text sub">				
				<div class="row">				
					<span>
						<div>
							<p><strong>Email Id &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; :</strong>&nbsp; <input type="email" placeholder="abc@xyz.com" class="input-xlarge" ng-model="customer.email"> <br>
							<p><strong>Username &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  :</strong>&nbsp; <input type="text" placeholder="username" class="input-xlarge" ng-model="customer.username"> <br>
							<p><strong>New Password &nbsp; &nbsp; &nbsp; &nbsp;  :</strong>&nbsp; <input type="password" placeholder="password" class="input-xlarge" ng-model="customer.newpassword"> <br>
							<p><strong>Confirm Password &nbsp; :</strong>&nbsp; <input type="password" placeholder="confirm password" class="input-xlarge" ng-model="customer.confirmpassword"> </br>								
							<p  style="color:red;"> {{message}} </p>							
							<br/><input tabindex="9" class="btn btn-inverse large" type="button" value="Change Password" ng-click="change()"/>
							</p>
						</div>
					</span>			
				</div>
			</section>	
			