			<section class="main-content">
				<div class="row">						
					<div class="span12">	
								<h4 class="title">
									<span class="pull-left"><span class="text"><span class="line">Big <strong>Sale</strong></span></span></span>
								</h4>					
						<ul class="thumbnails listing-products">
							<li class="span3">
								<div class="product-box">
									<span class="sale_tag"></span>												
									<a href="#productdetail" ng-click="itemDetail('12 Sitter Dinning Set','American Furniture','$55')"><img alt="" src="img/dining room/5.jpg"></a><br/>
									<a href="#productdetail" ng-click="itemDetail('12 Sitter Dinning Set','American Furniture','$55')" class="title">12 Sitter Dinning Set</a><br/>
									<a href="#productdetail" ng-click="itemDetail('12 Sitter Dinning Set','American Furniture','$55')" class="category">American Furniture</a>
									<p class="price"><strike>$75</strike><a class="category">  $55</a></p>
								</div>
							</li>       
							<li class="span3">
								<div class="product-box">	
									<span class="sale_tag"></span>								
									<a href="#productdetail" ng-click="itemDetail('TV Satnd','American Furniture','$28')"><img alt="" src="img/living room/10.jpg"></a><br/>
									<a href="#productdetail" ng-click="itemDetail('TV Satnd','American Furniture','$28')" class="title">TV Satnd</a><br/>
									<a href="#productdetail" ng-click="itemDetail('TV Satnd','American Furniture','$28')" class="category">American Furniture</a>
									<p class="price"><strike>$35</strike><a class="category">  $28</a></p>
								</div>
							</li>
							<li class="span3">
								<div class="product-box">
									<span class="sale_tag"></span>												
									<a href="#productdetail" ng-click="itemDetail('Study Table and Chair','Houzz','$31')"><img alt="" src="img/study room/2.jpg"></a><br/>
									<a href="#productdetail" ng-click="itemDetail('Study Table and Chair','Houzz','$31')" class="title">Study Table and Chair</a><br/>
									<a href="#productdetail" ng-click="itemDetail('Study Table and Chair','Houzz','$31')" class="category">Houzz</a>
									<p class="price"><strike>$40</strike><a class="category">  $31</a></p>
								</div>
							</li>
							<li class="span3">
								<div class="product-box">												
									<span class="sale_tag"></span>
									<a href="#productdetail" ng-click="itemDetail('King Size Bed','Flexsteel','$200')"><img alt="" src="img/bedroom/10.jpg"></a><br/>
									<a href="#productdetail" ng-click="itemDetail('King Size Bed','Flexsteel','$200')" class="title">King Size Bed</a><br/>
									<a href="#productdetail" ng-click="itemDetail('King Size Bed','Flexsteel','$200')" class="category">Flexsteel</a>
									<p class="price"><strike>$235</strike><a class="category">  $200</a></p>
								</div>
							</li>
							<li class="span3">
								<div class="product-box">												
									<a href="#productdetail" ng-click="itemDetail('Sofa Set','Indiana Furniture','$505.30')"><img alt="" src="img/living room/7.jpg"></a><br/>
									<a href="#productdetail" ng-click="itemDetail('Sofa Set','Indiana Furniture','$505.30')" class="title">Sofa Set</a><br/>
									<a href="#productdetail" ng-click="itemDetail('Sofa Set','Indiana Furniture','$505.30')" class="category">Indiana Furniture</a>
									<p class="price"><strike>$550</strike><a class="category">  $505.30</a></p>
								</div>
							</li>
						</ul>								
						<hr>
						<div class="pagination pagination-small pagination-centered">
							<ul>
								<li><a href="#">Prev</a></li>
								<li class="active"><a href="#">1</a></li>
								<li><a href="#">2</a></li>
								<li><a href="#">3</a></li>
								<li><a href="#">4</a></li>
								<li><a href="#">Next</a></li>
							</ul>
						</div>
					</div>
				</div>
			</section>
		