	
			<section class="main-content">
				
				<div class="row">						
					<div class="span12">	
								<h4 class="title">
									<span class="pull-left"><span class="text"><span class="line"><strong>Study Room</strong></span></span></span>
								</h4>						
						<ul class="thumbnails listing-products">
							<li class="span3">
								<div class="product-box">
									<span class="sale_tag"></span>												
									<a href="#productdetail" ng-click="detail('Study table set','Flexsteel','$35.50')"><img alt="" src="img/study room/1.jpg"></a><br/>
									<a href="#productdetail" ng-click="detail('Study table set','Flexsteel','$35.50')" class="title">Study table set</a><br/>
									<a href="#productdetail" ng-click="detail('Study table set','Flexsteel','$35.50')" class="category">Flexsteel</a>
									<p class="price">$35.50</p>
								</div>
							</li>       
							<li class="span3">
								<div class="product-box">												
									<a href="#productdetail" ng-click="detail('Study Chair','Houzz','$28')"><img alt="" src="img/study room/10.jpg"></a><br/>
									<a href="#productdetail" ng-click="detail('Study Chair','Houzz','$28')" class="title">Study Chair</a><br/>
									<a href="#productdetail" ng-click="detail('Study Chair','Houzz','$28')" class="category">Houzz</a>
									<p class="price">$28</p>
								</div>
							</li>
							<li class="span3">
								<div class="product-box">												
									<span class="sale_tag"></span>
									<a href="#productdetail" ng-click="detail('Study Table','Indiana Furniture','$19')"><img alt="" src="img/study room/4.jpg"></a><br/>
									<a href="#productdetail" ng-click="detail('Study Table','Indiana Furniture','$19')" class="title">Study Table</a><br/>
									<a href="#productdetail" ng-click="detail('Study Table','Indiana Furniture','$19')" class="category">Indiana Furniture</a>
									<p class="price">$19</p>
								</div>
							</li>
							<li class="span3">
								<div class="product-box">                                        												
									<a href="#productdetail" ng-click="detail('Computer Stand and Study Table','Houzz','$25.60')"><img alt="" src="img/study room/5.jpg"></a><br/>
									<a href="#productdetail" ng-click="detail('Computer Stand and Study Table','Houzz','$25.60')" class="title">Computer Stand and Study Table</a><br/>
									<a href="#productdetail" ng-click="detail('Computer Stand and Study Table','Houzz','$25.60')" class="category">Houzz</a>
									<p class="price">$25.60</p>
								</div>
							</li>       
							<li class="span3">
								<div class="product-box">												
									<a href="#productdetail" ng-click="detail('Wodden Book Closet','Flexsteel','$17')"><img alt="" src="img/study room/6.jpg"></a><br/>
									<a href="#productdetail" ng-click="detail('Wodden Book Closet','Flexsteel','$17')" class="title">Wodden Book Closet</a><br/>
									<a href="#productdetail" ng-click="detail('Wodden Book Closet','Flexsteel','$17')" class="category">Flexsteel</a>
									<p class="price">$17</p>
								</div>
							</li>
							<li class="span3">
								<div class="product-box">												
									<a href="#productdetail" ng-click="detail('Small Book Closet','American Furniture','$23.30')"><img alt="" src="img/study room/7.jpg"></a><br/>
									<a href="#productdetail" ng-click="detail('Small Book Closet','American Furniture','$23.30')" class="title">Small Book Closet</a><br/>
									<a href="#productdetail" ng-click="detail('Small Book Closet','American Furniture','$23.30')" class="category">American Furniture</a>
									<p class="price">$23.30</p>
								</div>
							</li>
							<li class="span3">
								<div class="product-box">												
									<a href="#productdetail" ng-click="detail('Foldable Chair','Flexsteel','$33.50')"><img alt="" src="img/study room/9.jpg"></a><br/>
									<a href="#productdetail" ng-click="detail('Foldable Chair','Flexsteel','$33.50')" class="title">Foldable Chair</a><br/>
									<a href="#productdetail" ng-click="detail('Foldable Chair','Flexsteel','$33.50')" class="category">Flexsteel</a>
									<p class="price">$33.50</p>
								</div>
							</li>
							<li class="span3">
								<div class="product-box">												
									<a href="#productdetail" ng-click="detail('Book Closet','American Furniture','$21')"><img alt="" src="img/study room/8.jpg"></a><br/>
									<a href="#productdetail" ng-click="detail('Book Closet','American Furniture','$21')" class="title">Book Closet</a><br/>
									<a href="#productdetail" ng-click="detail('Book Closet','American Furniture','$21')" class="category">American Furniture</a>
									<p class="price">$21</p>
								</div>
							</li>
							<li class="span3">
								<div class="product-box">												
									<a href="#productdetail" ng-click="detail('Study Table and Chair','Houzz','$31')"><img alt="" src="img/study room/2.jpg"></a><br/>
									<a href="#productdetail" ng-click="detail('Study Table and Chair','Houzz','$31')" class="title">Study Table and Chair</a><br/>
									<a href="#productdetail" ng-click="detail('Study Table and Chair','Houzz','$31')" class="category">Houzz</a>
									<p class="price">$31</p>
								</div>
							</li>
							<li class="span3">
								<div class="product-box">												
									<a href="#productdetail" ng-click="detail('Computer Table','Lane Furniture','$25.30')"><img alt="" src="img/study room/3.jpg"></a><br/>
									<a href="#productdetail" ng-click="detail('Computer Table','Lane Furniture','$25.30')" class="title">Computer Table</a><br/>
									<a href="#productdetail" ng-click="detail('Computer Table','Lane Furniture','$25.30')" class="category">Lane Furniture</a>
									<p class="price">$25.30</p>
								</div>
							</li>
						</ul>								
						<hr>
						<div class="pagination pagination-small pagination-centered">
							<ul>
								<li><a href="#">Prev</a></li>
								<li class="active"><a href="#">1</a></li>
								<li><a href="#">2</a></li>
								<li><a href="#">3</a></li>
								<li><a href="#">4</a></li>
								<li><a href="#">Next</a></li>
							</ul>
						</div>
					</div>
				</div>
			</section>
		